<html>


	<head>
		<meta charset="UTF-8">

		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

		<script async src="https://www.googletagmanager.com/gtag/js?id=G-PXZBJ5WHDK"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
function gtag() {
dataLayer.push(arguments);
}
gtag('js', new Date());

gtag('config', 'G-PXZBJ5WHDK');
		</script>

		{% if app.user %}
			<div class="mb-3">
				Tu es connecté en tant que
				{{ app.user.userIdentifier }},
				<a href="{{ path('app_logout') }}">déconnexion</a>
			</div>
		{% endif %}

		{% if is_granted('ROLE_ADMIN') %}
			Vous êtes Administrateur
			<a href="{{ path('admin_home') }}">Admin</a>
		{% endif %}
	</head>

	{% apply inline_css(source("css/home_style.css"), source("css/home_style.css")) %}
	<body>
		<div class="container-fluid bg-dark">
			<div class="row py-2 px-lg-5">
				<div class="col-lg-6 text-center text-lg-left mb-2 mb-lg-0">
					<div class="d-inline-flex align-items-center text-white">
						<small>
							<i class="fa fa-phone-alt mr-2"></i>+012 345 6789</small>
						<small class="px-3">|</small>
						<small>
							<i class="fa fa-envelope mr-2"></i>iqubal.ramzid@outlook.fr</small>
					</div>
				</div>
				<div class="col-lg-6 text-center text-lg-right">
					<div class="d-inline-flex align-items-center">
						<a class="text-white px-2" href="">
							<i class="fab fa-facebook-f"></i>
						</a>
						<a class="text-white px-2" href="">
							<i class="fab fa-twitter"></i>
						</a>
						<a class="text-white px-2" href="">
							<i class="fab fa-linkedin-in"></i>
						</a>
						<a class="text-white px-2" href="">
							<i class="fab fa-instagram"></i>
						</a>
						<a class="text-white pl-2" href="">
							<i class="fab fa-youtube"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid p-0">
			<nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-lg-5">
				<a href="index.html" class="navbar-brand ml-lg-3">
					<h1 class="m-0 display-5 text-uppercase text-primary">
						<i class="fa-solid fa-scale-balanced"></i>AAJ</h1>
				</a>
				<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse justify-content-between px-lg-3" id="navbarCollapse">
					<div class="navbar-nav m-auto py-0">
						<a href="{{ path('app_inscription') }}" class="nav-item nav-link">Inscription</a>
						<a href="{{ path('app_login') }}" class="nav-item nav-link">Connexion</a>
						<a href="{{ path('particuliers') }}" class="nav-item nav-link">Particuliers</a>
						<a href="{{ path('professionel')}}" class="nav-item nav-link">Professionel</a>
						<a href="{{ path('contact')}}" class="nav-item nav-link">Contacts</a>
						<a href="contact.html" class="nav-item nav-link active">Contact</a>
					</div>
					<a href="{{ path('app_home')}}" class="btn btn-primary py-2 px-4 d-none d-lg-block">Accueil</a>
				</div>
			</nav>
		</div>

		{% endapply %}
		{% block body %}{% endblock %}

		<div class="container-fluid bg-dark text-white mt-5 py-5 px-sm-3 px-md-5">
			<div class="row pt-5">
				<div class="col-lg-7 col-md-6">
					<div class="row">
						<div class="col-md-6 mb-5">
							<h3 class="text-primary mb-4">Get In Touch</h3>
							<p>
								<i class="fa fa-map-marker-alt mr-2"></i>123 Rue Pantin, France</p>
							<p>
								<i class="fa fa-phone-alt mr-2"></i>+012 345 67890</p>
							<p>
								<i class="fa fa-envelope mr-2"></i>iqubal.ramizd@outlook.fr</p>
							<div class="d-flex justify-content-start mt-4">
								<a class="btn btn-outline-light btn-social mr-2" href="#">
									<i class="fab fa-twitter"></i>
								</a>
								<a class="btn btn-outline-light btn-social mr-2" href="#">
									<i class="fab fa-facebook-f"></i>
								</a>
								<a class="btn btn-outline-light btn-social mr-2" href="#">
									<i class="fab fa-linkedin-in"></i>
								</a>
								<a class="btn btn-outline-light btn-social" href="#">
									<i class="fab fa-instagram"></i>
								</a>
							</div>
						</div>
						<div class="col-md-6 mb-5">
							<h3 class="text-primary mb-4">Quick Links</h3>
							<div class="d-flex flex-column justify-content-start">
								<a class="text-white mb-2" href="#">
									<i class="fa fa-angle-right mr-2"></i>Home</a>
								<a class="text-white mb-2" href="#">
									<i class="fa fa-angle-right mr-2"></i>About Us</a>
								<a class="text-white mb-2" href="#">
									<i class="fa fa-angle-right mr-2"></i>Our Services</a>
								<a class="text-white mb-2" href="#">
									<i class="fa fa-angle-right mr-2"></i>Pricing Plan</a>
								<a class="text-white" href="#">
									<i class="fa fa-angle-right mr-2"></i>Contact Us</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-5 col-md-6 mb-5">
					<h3 class="text-primary mb-4">Newsletter</h3>
					<p>pour s'abonner à la Newsletter</p>
					<div class="w-100">
						<div class="input-group">
							<input type="text" class="form-control border-light" style="padding: 30px;" placeholder="Your Email Address">
							<div class="input-group-append">
								<button class="btn btn-primary px-4">Sign Up</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid bg-dark text-white border-top py-4 px-sm-3 px-md-5" style="border-color: #3E3E4E !important;">
			<div class="row">
				<div class="col-lg-6 text-center text-md-left mb-3 mb-md-0">
					<p class="m-0 text-white">&copy;
						<a href="#">Your Site Name</a>. All Rights Reserved.

						<!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
						Designed by
						<a href="https://htmlcodex.com">HTML Codex</a>
					</p>
				</div>
				<div class="col-lg-6 text-center text-md-right">
					<ul class="nav d-inline-flex">
						<li class="nav-item">
							<a class="nav-link text-white py-0" href="#">Privacy</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-white py-0" href="#">Terms</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-white py-0" href="#">FAQs</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-white py-0" href="#">Help</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
	</body>
	<style>
		nav {
			background: black;

		}
		.navbar-brand {
			color: greenyellow;
		}
		.nav-link {
			color: greenyellow;
		}
	</style>
</html>
